<!DOCTYPE html>
<html> 
    <head>
        <title>AuroState Network</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="../../master.css">
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
        <!-- TOP NAV -->
        <div class="div-top-container">
            <div class="div-left">
                <div class="div-a-logo-center-container">
                    <div class="div-p-center">
                            <a class="a-logo-center" href="<%= link_url_home %>">
                                AuroraState
                            </a>
                    </div>
                </div>   
                <div class="div-linkbar-container">
                        <a href="<%= link_url_project %>"  class="a-nav-top">Projects</a>
                        <a href="<%= link_url_about %>" class="a-nav-top">About</a>
                        <a href="<%= link_url_contact %>" class="a-nav-top">Contact</a>
                </div>
            </div>
            
            <div class="div-social">
                <button class="btn-logout" id="btn-logout">Logout</button>
                <a href="https://github.com/Ramirez0245" >
                    <i class="fa fa-github" ></i>
                </a>
                <a href="https://www.linkedin.com/in/omar-ramirez-49ba0a157/" >
                    <i class="fa fa-linkedin" ></i>
                </a>
            </div>
    </div>
        <!-- MAIN BODY -->
        <div class="div-center-container">
            <div class="div-logo-container">
                <div class="div-p-logo-center-container">
                    <div class="div-p-center">
                            <p class="p-logo-center">AuroraState</p>
                    </div>
                </div>
                <div class="div-register">
                    <a class="a-register" href="<%= link_url_register %>">Register?</a>
                </div>
            </div>
            <form class="form-login">
                <div class="div-login-container">
                    <div class="div-login">

                        <div>
                            <label for="username" class="label-info-type" >Username: </label>
                            <input type="text" class="input-enteries" id="input-username">
                        </div>
                        <div>
                            <label for="password" class="label-info-type" >Password: </label>
                            <input type="password" class="input-enteries" id="input-password">
                        </div>
                    </div>
                    <div class="div-input-sumbit">
                        <input class="input-submit" type="submit" value="Login" id="input-login" >
                    </div>
                    <div>
                        <% if(messages) { %>
                            <p class="p-status" id="p-status"><% messages.error %> </p>
                        <% } %>
                    </div>
                </div>
            </form> 
        </div>
        <script type="module" src="login.js"></script>
        <script type="module" src="../../directory/directory.js"></script>
    </body>
</html> 